@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using CrifAustria.Utils
@{
	Layout = "Pages.cshtml";
}

<section class="main-content single">
    <div class="container">
        <div class="row">
            <div class="inner-container border-grey-top">

                <div class="two-clmns clearfix">
                    <article class="col-sm-8 no-side-padding">
                        <section class="breadcrumb-wrapper">
                            <ul class="breadcrumb-post news-crumb breadcrumb">
                                
                                @if (Model.Content.HasValue("actualDate"))
                                {
                                    <li class="datestring active">@Convert.ToDateTime(Model.Content.GetPropertyValue<string>("actualDate")).ToString("dd. MMMM yyyy")</li>
                                }
                                else
                                {
                                    <li class="datestring active">@Model.Content.CreateDate.ToString("dd. MMMM yyyy")</li>
                                }
                            </ul>
                        </section>

                        <section class="content">
                            <h1 class="clr-drk-blu h3">@Umbraco.Field("title",altText:Model.Content.Name)</h1>
                            @if (Model.Content.HasValue("shortDescripion"))
							{
								<p class="md-para italic news-single-desc">@Html.Raw(library.RemoveFirstParagraphTag(Model.Content.GetPropertyValue<string>("shortDescripion")))</p>
							}
							@if (Model.Content.HasValue("bodyText"))
							{
								<p>@Html.Raw(Model.Content.GetPropertyValue<string>("bodyText"))</p>
							}
							<section class="mob-preview hidden-sm hidden-md hidden-lg">
                                <div class="aside">
                                    @if (Model.Content.HasValue("thumbnailImage"))
                                    {
                                        var thumbNailImage = Umbraco.TypedMedia(Model.Content.GetPropertyValue("thumbnailImage"));
                                        if (thumbNailImage != null)
                                        {
                                            <div class="ftrd-img">
                                                <img src="@thumbNailImage.Url" alt="@thumbNailImage.Name" class="img-responsive">
                                            </div>
                                        }
                                                               
                                    }
                                </div>

                                @Umbraco.RenderMacro("CTALinksOnRight")
                            </section>
                        </section>

                    </article>
                    <aside class="col-sm-4 no-side-padding hidden-xs">
                        <div class="aside">
                            @if (Model.Content.HasValue("thumbnailImage"))
                            {
                                var thumbNailImage = Umbraco.TypedMedia(Model.Content.GetPropertyValue("thumbnailImage"));
                                if (thumbNailImage != null)
                                {
                                    <div class="ftrd-img">
                                        <img src="@thumbNailImage.Url" alt="@thumbNailImage.Name" class="img-responsive">
                                    </div>
                                }
                                                               
                            }
                        </div>

                        @Umbraco.RenderMacro("CTALinksOnRight")

                    </aside>

                </div>

                <section class="article-list-wrapper lrg-sprtr-top">

                    @Umbraco.RenderMacro("HighlightedNewsListing")
					@Umbraco.RenderMacro("NewsFilter")
                    <div class="post-content-wrapper event-listing"> 
					    @Umbraco.RenderMacro("NewsFilterAjaxHandler")	
                    </div>	
                    
                </section>
                <input type="text" id="txtNodId" value="@Model.Content.Id" style="display:none;" />
            </div>
        </div>
    </div>
</section>
@section innerJs{
    <script type="text/javascript" src="/scripts/ajax/newsAjaxHandler.js"></script>
    <script src="~/scripts/share.js"></script>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>}