@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using CrifAustria.Utils;
@{
    var currentPage = Model.Content;
    var Image_Style = string.Empty;
    var textColor = (Model.Content.HasValue("konsumentenBoxTextColor")) ? Model.Content.GetPropertyValue<string>
    ("konsumentenBoxTextColor") : "crif-white";
    if (currentPage.HasValue("konsumentenBoxImage"))
    {
        var konsumentenBoxImage = Umbraco.TypedMedia(Umbraco.RenderMacro("PropertyTranslation", new { Property = "konsumentenBoxImage" }).ToString());
        string backgroundImageURL = konsumentenBoxImage.Url;
        Image_Style = string.Format("style=\"background-image : url('{0}')\"", backgroundImageURL);
    }
    <div class="cta-box cta-career sml-sprtr-top-20 clearfix" @Html.Raw(Image_Style)>
        <div class="col-sm-6 text">
            @if (CurrentPage.HasValue("konsumentenBoxTitle"))
            {
                if (CurrentPage.HasValue("konsumentenBoxLink"))
                {
                    var konsumentenBoxLinks = Model.Content.GetPropertyValue<RJP.MultiUrlPicker.Models.MultiUrls>("konsumentenBoxLink");
                    if (konsumentenBoxLinks != null && konsumentenBoxLinks.Any())
                    {
                        <a href="@konsumentenBoxLinks.FirstOrDefault().Url" @konsumentenBoxLinks.FirstOrDefault().Target><h2 class="h3 @Common.getPredefinedColorSetClass(textColor)">@Umbraco.RenderMacro("PropertyTranslation", new { Property = "konsumentenBoxTitle" })</h2></a>
                    }
                }
                else
                {
                    <h2 class="h3 @Common.getPredefinedColorSetClass(textColor)">@Umbraco.RenderMacro("PropertyTranslation", new { Property = "konsumentenBoxTitle" })</h2>
                }
            }
            @if (CurrentPage.HasValue("konsumentenBoxDescription"))
            {
                <p class="@Common.getPredefinedColorSetClass(textColor,true)">@Umbraco.RenderMacro("PropertyTranslation", new { Property = "konsumentenBoxDescription" })</p>
            }
            @if (CurrentPage.HasValue("konsumentenBoxLink"))
            {
                var konsumentenBoxLinks = Model.Content.GetPropertyValue<RJP.MultiUrlPicker.Models.MultiUrls>
                    ("konsumentenBoxLink");
                if (konsumentenBoxLinks != null && konsumentenBoxLinks.Any())
                {
                    <a href="@konsumentenBoxLinks.FirstOrDefault().Url" rel="nofollow" class="link @Common.getPredefinedColorSetClass(textColor)" @konsumentenBoxLinks.FirstOrDefault().Target>@konsumentenBoxLinks.FirstOrDefault().Name<i class="fa fa-caret-right"></i></a>
                }
            }
        </div>
    </div>

}
